@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    margin:40px 100px 30px 100px;
    padding:40px;
    
}

#subtitle {
    background: black;
    color: white;
    margin: 30px 100px;
    padding: 25px 50px;
    
    
}

.topic {
    background: lightgray;
    padding: 20px;
    margin: 25px 50px; 
    display: inline-block;
}

